<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.id}" class="card-text"></td>
                <td th:text="${user.username}" class="card-text"><</td>
                <td th:text="${user.password}" class="card-text"></td>
                <td th:each="role : ${user.roles}" th:text="${role.name}"></td>
                <td>
                    <form action="/admin" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-outline-primary" th:href="'/admin/' + ${user.id} + '/edit'">Edit</a>
                </td>
            </tr>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>